.hidden {
  display: none;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(242, 242, 242, 1);
  background-color: white;
  z-index: 1;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  list-style-type: none;
  padding: 0px;
}

.nav-right-section {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 30px;
  padding-left: 20px;
}

.nav-right-login {
  padding-right: 20px;
}

.nav-write-button {
  color: #757575;
  text-decoration: none;
  margin-right: 20px;
}

.profile-dropdown {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  text-align: left;
  padding: 20px 15px;
  right: 20px;
  background-color: white;
}

.profile-dropdown > li {
  list-style-type: none;
}

.nav-right-login-signup-buttons {
  padding-right: 20px;
}

.navigation-profile-picture {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

ul > hr {
  margin: 10px 0;
}

.profile-menu-prof {
  text-decoration: none;
  color: #757575;
}

.fa-user,
.fa-arrow-right-from-bracket {
  margin-right: 5px;
}

.profile-menu-prof:hover {
  color: black;
}

.profile-dropdown-logout {
  color: #757575;
  cursor: pointer;
}

.profile-dropdown-logout:hover {
  color: black;
}

.nav-right-login-button {
  border: none;
  background-color: white;
  padding-right: 20px;
  cursor: pointer;
}

.nav-right-login-button:hover {
  color: #344afb;
}

.nav-right-signup-button {
  padding: 10px;
  background-color: #344afb;
  color: white;
  border: none;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-right-signup-button:hover {
  background-color: #011082;
}

.nav-explore {
  text-decoration: none;
  color: #434345;
}

.nav-explore:hover {
  padding: 8px;
  background-color: #011082;
  color: white;
  border: none;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}