td {
  padding: 20px 5px;
}

.explore-coin-card-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.explore-coin-card-name {
  display: flex;
  flex-direction: column;
}

.explore-coin-card-up {
  color: #098551;
}

.explore-coin-card-down {
  color: #cf202f;
}
