.hero-outer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  margin: 3rem 0 5rem;
}

.hero-right > button {
  align-self: flex-start;
  color: white;
  background-color: #344afb;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.hero-right {
  margin-top: 10%;
}

.hero-right > * {
  margin: 0.5rem 0;
}

.hero-img {
  max-height: 30em;
  width: 100%;
}

@media (max-width: 600px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-left {
    order: 1;
  }

  .hero-right {
    order: 2;
  }

  .hero-right > button {
    align-self: center;
  }
}
