.crypto-details-outer {
  max-width: 1240px;
  margin: 0 auto;
}

.crypto-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.crypto-details-top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.crypto-details-img-name-symbol {
  display: flex;
  align-items: center;
}

.crypto-details-price-down {
  color: #cf202f;
}

.crypto-details-price-up {
  color: #098551;
}
